# Supabase Configuration
VITE_SUPABASE_URL= https://xsdyzgdxnurroeveqcnc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhzZHl6Z2R4bnVycm9ldmVxY25jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzNDE2MzAsImV4cCI6MjA4NzkxNzYzMH0.qgiL-s8p1DEWr0dRsuJLRpWBgsu3esJcPORtETPq6aI

# Resend API Key for contact form
RESEND_API_KEY= re_bt861o5p_NuntEhaG9TbAjEEcSWq4Y9Vx
